<div class="row mt-5">
  <div class="col-md-8">

    <quill-editor
    [(ngModel)]="quillContent"
    (ngModelChange)="ediotrModelChangedEvent($event)"
    format="json"
    trackChanges="all"
    [modules]="quillModules"
    [styles]="{ height: '200px' }"
    (onFocus)="focus($event)"
    (onEditorChanged)="changedEditor($event)"
    (onBlur)="blur($event)"
    (onEditorCreated)="created($event)"
    (onContentChanged)="onContentChanged($event)"
    ></quill-editor>

  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          Current Delta
        </h5>
      </div>

      <div class="card-body delta-container">
        <pre>
          <code [highlight]="htmlStr"></code>
        </pre>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          OUTPUT
        </h5>
      </div>

      <div class="card-body" style="padding: 0;">
        <pre>
          <code [highlight]="getQuillContent() | json" [languages]="['json']"></code>
        </pre>
      </div>
    </div>

  </div>
</div>
